@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background: linear-gradient(#def, #7ac);
    font-family: Roboto;
}
.container{
    height: 100vh;
}
.name, .level{
    font-family: Roboto;
    text-align: center;
    margin-top: 10px;
    background-color: inherit; 
    box-shadow: black;  
}
#levels{
    text-align: center; 
    /* родителю задал tac, чтобы кнопки по центру вровнять */
}
.level{
    display: inline-block;
}
#game-field{
    display: block;
    position: relative;
    width: 70%;
    height: 60%;
    max-width: 1000px;
    max-height: 1000px;
    margin: 50px auto 50px auto;
    background-color: white;
    border: grey solid 2px;
}
#enemy{
    position: absolute;
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
}
.wrapper-level{
    display: inline-block;
}
.score_title{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 15px;
}
.precent{
    font-size: 12px;
}